* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e9e9e9;
}

table td,
table th {
  vertical-align: middle;
}

.modal_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000063;
  transition: 0.2s all ease-in-out;
}

.modal_wrapper .modal_cont {
  width: 400px;
  max-width: 350px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 1rem;
  transition: 0.3s all ease-in-out;
}
